*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(62, 28, 93);
}

#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#container{
    background-color: white;
    height: 30vh;
    border-radius: 5px;
}

h1{
    font-size: 150px;
    font-weight: 500;
    color: mediumseagreen;
}

.btns{
    margin-top: 30px;
}

#subtract{
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#subtract {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#subtract:hover,
#subtract:focus{
    opacity: .9;
}

#reset {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#reset:hover,
#reset:focus{
    opacity: .9;
}

#add{
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#add:hover,
#add:focus{
    opacity: .9;
}

h2{
    color: white;
    font-weight: 900;
    margin-bottom: 30px;
    width: 100%;
    font-size: 25px;
}